<style>
  /* Basic CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /* Header styles */
  header {
    background-color: #2d2d66;
    color: #ddd;
    padding: 10px 0;
    text-align: center;
  }

  .banner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

    /* Logo styling */
  .logo {
    background-color: rgba(45, 45, 102, 0.90); /* Background color of the logo */
    border: inset #8366ad; /* Border color */
    border-radius: 5px; /* Rounded corners */
    color: #fff; /* Change the color as needed */
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 15px;
  }


  /* Body styles */
  body {
    background-image: url('logo.png');
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: center;
  }

  /* Content styles */
  .content {
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 23px;
    padding: 90px;
    text-align: right;
    color: #ddd; /* Set text color for better readability */
    font-family: Arial, Helvetica, sans-serif; /* Set your preferred font stack */
    background-color: #2d2d66;
}

  /* Responsive styles */
  @media (max-width: 768px) {
    .banner {
      font-size: 20px;
    }
  }

/* Style for the gallery container */
.gallery {
  height: auto; /* Maintain the aspect ratio */
  width: 120px; /* Set the desired width */
}

.gallery img {
  width: 100%; /* Make sure the image fills its container */
  cursor: pointer;
}

.gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136,0.2);
  border-color: #2d2d66;
  border-width: 5px;
}

.gallery:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.full-img{
  width: 100%;
  height: 100%;
  background: rgba(131, 102, 173, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-img img{
  width: 100%;
  max-width: 1500px;
  border: solid 5px;
  border-color:#8366ad;
}

.full-img span{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 15px; 
  background-color: #2d2d66;
  border: solid 5px;
  border-color:#8366ad;
}

/* Style for the home button */
.home-button {
  display: inline-block;
  background-color: #2d2d66;
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: inset #8366ad;
}

.home-button:hover {
  background-color: #2d2d66; /* Darker shade of the primary color on hover */
}

.center-container {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}
  
table1, table2, table3, th, td {
  border: inset #2d2d66;
}

th, td, h2, h3 {
  text-align: center;
  padding: 10px;
  color: #2d2d66;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
  color: #2d2d66;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: #2d2d66;
}

/* Set fixed widths for columns */
th:nth-child(1), td:nth-child(1) {
  width: 100px;
}
  
th:nth-child(2), td:nth-child(2) {
  width: 200px;
}

th:nth-child(3), td:nth-child(3) {
  width: 100px;
}

th:nth-child(4), td:nth-child(4) {
  width: 200px;
}

th:nth-child(5), td:nth-child(5) {
  width: 100px;
}

th:nth-child(6), td:nth-child(6) {
  width: 200px;
}

th:nth-child(7), td:nth-child(7) {
  width: 200px;
}

th:nth-child(8), td:nth-child(8) {
  width: 100px;
}

th:nth-child(9), td:nth-child(9) {
  width: 200px;
}

th:nth-child(10), td:nth-child(10) {
  width: 200px;
}

th:nth-child(11), td:nth-child(11) {
  width: 200px;
}

th:nth-child(12), td:nth-child(12) {
  width: 200px;
}

th:nth-child(13), td:nth-child(13) {
  width: 200px;
}

.menu {
  background-color: #2d2d66;
}

.menu ul {
  list-style-type: square;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 5px 5px;
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.menu ul li a:hover {
  background-color: #8366ad;
}

</style>